body {
  font-family: 'Open Sans', sans-serif;
}

.logo {
  font-weight: 800;
  color: #fff;
}

.navbar-dark .navbar-nav .nav-link {
  font-weight: 400;
  color: #fff;
}

nav {
  position: fixed;
}

.hero-section {
  background-image: url('../img/bg_hero.png');
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  padding: 28.25rem 5.125rem;
}
h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
}

.icon {
  background-color: #fff;
}

.carousel-indicators {
  top: 200px;
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #000;
}

.oscuro {
  background: #000f08;
  color: #ffffff;
  margin: auto;
}

.oscuro a {
  color:  #ffffff;
  text-decoration: none;
}

.experiencia {
  
}
